
#popup{
    background-color: red;
    color: white; 
    width: 200px; height: 200px;
    border-radius: 10px;
    position: fixed;    /* 위치 고정 */
    bottom: 50px; right: 10px;
    z-index: 2;
}

/*=================================================*/

#header{
    display: flex;
    border-bottom: 2px solid gray; background-color: white;
    position: sticky; /* 해당 구역이 가려질때 위치고정 */
    top: 0px; /* 상단 고정 */
    z-index: 3; /* 다른 요소와 겹쳤을 떄 배치 우선순위 */
}

#header > ul {
    display: flex;
    list-style-type: none;
}

/*=================================================*/

#parent{
    width: 500px; height: 500px;
    margin: 0 auto;
    background: green;
    position: relative; /* 하위 요소들의 absolute 기준점 */
}

#parent > div{
    width: 100px; height: 100px;
    background: beige;
    border-radius: 10px;
    position: absolute; /* 절대 위치 */
    display: flex;
    justify-content: center;
    align-items: center;
}

#box1{ top: 25px; left: 200px; }
#box2{ top: 125px; left: 75px; }
#box3{ top: 125px; left: 325px; }
#box4{ top: 250px; left: 75px; }
#box5{ top: 250px; left: 325px; }
#box6{ top: 350px; left: 200px; }

