
/* 구역 사이즈를 안쪽여백+테두리 포함 */
*{box-sizing: border-box; }

/* 공통 */
.box{
    border: 2px solid blue;
    width: 100px;
}

/* 1. flexbox1 */
.flexbox1{
    border: 3px solid red;
    display: flex;  /* 하위요소들의 배치방법 */
    /* 기본값 : 줄바꿈안함 , 자식요소들을 한줄 표시하되 사이즈가 부족하면 자동변경 */
    flex-wrap: nowrap; 
    width: 250px;
}
/* 2. flexbox2 */
.flexbox2{
    border: 3px solid red;
    display: flex;
    flex-wrap: wrap; /* 자식 요소들의 크기가 넘쳤을때 줄바꿈 */
    width: 250px; 
}
/* 3. flexbox3 */
.flexbox3{
    border: 3px solid red;
    display: flex;
    flex-wrap: wrap-reverse;
    width: 250px;
}
/* 4. flexbox4 */
.flexbox4{
    border: 3px solid red;
    display: flex;
    width: 250px;
    flex-direction: row; /* 배치 방향 : row(기본값) 가로 방향 */
}
/* 5. flexbox5 */
.flexbox5{
    border: 3px solid red;
    display: flex;
    width: 250px;
    flex-direction: column; /* 배치 방향 : column 세로 방향 */
}
/* 6. flexbox6 */
.flexbox6{
    border: 3px solid red;
    display: flex;
    width: 250px;
    flex-direction: row-reverse; /* 배치 방향 : row-reverse 가로 반대 방향 */
}
/* 7. flexbox7 */
.flexbox7{
    border: 3px solid red;
    display: flex;
    width: 250px;
    flex-direction: column-reverse; /* 배치 방향 : column-reverse 세로 반대 방향 */
}